<!Doctype html>
<html>
<head>
  <%- include ../meta.ejs %>
</head>
<body>
  <%- include ../header.ejs %>
  <div class="container n-about">
    <div class="col-md-3">
      <ul class="nav nav-pills nav-stacked nav-pills-stacked-example">
        <li role="presentation" class="active"><a href="/about">关于我们</a></li>
        <li role="presentation"><a href="/about/joinus">加入我们</a></li>
        <li role="presentation"><a href="mailto:service@nebulafe.com">联系我们</a></li>
        <li role="presentation"><a href="http://weibo.com/u/5585851057" target="_blank">关注我们</a></li>
      </ul>
    </div>
    <div class="col-md-9">
      <div class="panel panel-default panel-primary">
        <div class="panel-heading">关于我们</div>
        <div class="panel-body">
          诞生于公元二零一五年的炎炎夏日，由几位平凡的年轻人打造。愿自竹筏而成海舟，与更多同伴一齐航行于梦想的海洋。
        </div>
      </div>
      <div class="panel panel-default panel-primary">
        <div class="panel-heading">我们的目标</div>
        <div class="panel-body">
          星云致力于为用户提供专业、前沿、全面的高质量金融与经济智力服务， 打造完善且灵活的知识体系。与此同时，我们将根据实际情况不断地对平台 进行更新与调整，希望通过自身努力为所有用户乃至整个领域带来更多的可能性。
        </div>
      </div>
    </div>
  </div>
  <%- include ../footer.ejs %>
</body>
</html>
