<!Doctype html>
<html>
<head>
  <%- include ../meta.ejs %>
</head>
<body>
  <%- include ../header.ejs %>
  <div class="container n-about">
    <div class="col-md-3">
      <ul class="nav nav-pills nav-stacked nav-pills-stacked-example">
        <li role="presentation"><a href="/about">关于我们</a></li>
        <li role="presentation" class="active"><a href="/about/joinus">加入我们</a></li>
        <li role="presentation"><a href="mailto:service@nebulafe.com" target="_blank">联系我们</a></li>
        <li role="presentation"><a href="http://weibo.com/u/5585851057" target="_blank">关注我们</a></li>
      </ul>
    </div>
    <div class="col-md-9">
      <div class="panel panel-default panel-primary">
        <div class="panel-heading">加入我们</div>
        <div class="panel-body">
          诚邀加盟星云!<br>在这里，我们一起学习、工作，一起沉淀、分享，一起努力，为金融经济教育这个行业贡献影响。<br>作为一个初创团队，我们推崇富有创造力且兼顾效率的工作方式，让每个人的才能都能得到最大程度的发挥。<br>不论你是一丝不苟的专业人士还是天马行空的艺术家、是九岁就大学毕业的超级神童还是一次次在考试中挣扎走到现在的问题学生、是奉行有钱能使鬼推磨的现实主义者还是以世界和平为己任的理想主义者，只要我们谈得来，愿意为了一个共同目标而努力，那么星云的大门永远是向你敞开的。
        </div>
      </div>
      <div class="panel panel-default panel-primary">
        <div class="panel-heading">我们能提供的</div>
        <div class="panel-body">
          星云虽不是富二代，家底也不算殷实，但来到星云，我们绝不会亏待大家，开放自由的工作环境，和一群追求梦想的青年改变着些当前我们认为需要改变的东西；期待你的加入，薪资待遇面议！
        </div>
      </div>
    </div>
  </div>
  <%- include ../footer.ejs %>
</body>
</html>