<!Doctype html>
<html>
<head>
  <%- include ../meta.ejs %>
</head>
<body>
  <div class="container n-pay">
    <%- aliform%>
  </div>
  <script>document.getElementById('alipaysubmit').submit()</script>
</body>
</html>
