<!Doctype html>
<html>
<head>
  <%- include ../meta.ejs %>
</head>
<body>
  <%- include ../header.ejs %>
  <div class="container ">
    <div class="alert alert-danger" role="alert">对不起，您暂未付款成功，请重新购买！如需继续，请至&nbsp;&nbsp;<a href="/user/myorder" class="alert-link">我的订单</a>&nbsp;&nbsp;购买</div>
  </div>
  <%- include ../footer.ejs %>
</body>
</html>
