<!-- Modal -->
<div class="modal fade bs-example-modal-sm pay-modal" id="pay_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">提示</h4>
      </div>
      <div class="modal-body">
        <h3><span class="icon">&#xe60a;</span>请您在新打开页面完成付款！</h3>
        <p>支付完成前，请不要关闭此窗口。</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning pay-success">支付成功</button>
        <button type="button" class="btn btn-primary pay-error">支付遇到问题</button>
      </div>
    </div>
  </div>
</div>