.c-course-left{
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  margin-top: 20px;
  padding:15px 15px 50px 15px;
  width: 920px;
  box-shadow: 0 0 3px rgba(0, 0, 0, .3);
  background-color: #fff;
  font-size: 14px;

  .row{

  }
  .course-video-user-nav{

    width: 860px;
    box-sizing: border-box;
    padding: 0 0  2px 0;
    margin-left: 30px;

    border-bottom: 1px solid #ddd;

    .nav-item{

      display: inline-block;
      vertical-align: top;

      padding: 8px 25px;
      &:hover{
        text-decoration: none;
      }
      &.active{
        color: $color_guardsman_red_approx;
        box-shadow: 0 3px 0 $color-guardsman_red_approx;
      }
    }
  }
  .c-course-down-page-container{
    .c-tab-page{
      display: none;
      box-sizing: border-box;
      padding: 20px;
      &.active{
        display: block;
      }
      .comment-editor-wrapper{
        padding: 15px 30px;
        border-bottom: 1px solid #ccc;
        .user-comment-editor{
          display: block;
          position: relative;
          margin: auto;
          font-size: 14px;
          line-height: 1.7;
          width: 100%;
          height: 120px;
          box-sizing: border-box;
          padding: 10px;
          resize: none;
          z-index: 20;
          &:focus{
            outline: none;
            border-color: $color_link_blue;
            box-shadow: 0 0 6px $color_link_blue;
          }
        }
        .comment-submit{
          border-radius: 1px;
          float:right;
          margin-top: 15px;
          padding-left: 30px;
          padding-right: 30px;
          @include clearfix();

        }
      }



    }
  }
}
.c-course-right{
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;

  width: 260px;
  font-size: 14px;
}