<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="keywords" content="在线教育,星云,金融,经济,在线学习,金融英语,反假币">
<meta name="description" content="NEBULAFE是专业的在线经济金融教育平台，为用户提供优质的金融经济学习资料，帮助用户获得最快速的提升！">
<title><%= title %>-星云金融与经济在线</title>
<link rel="stylesheet" href=""/>
<link rel="shortcut icon"  href="/favicon.ico" type="image/x-icon">
<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
<!--临时全局样式表-->
<link rel="stylesheet" href="/resource/css/_common_1.css"/>
<!--临时全局样式表-->
<!--<link href="/resource/css/layout.css" rel="stylesheet">-->
<script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.alifenxi=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="alifenxi";c.people=c.people||[];c.toString=function(b){var a="alifenxi";"alifenxi"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config get_distinct_id".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.1;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//jssdk.cnzz.com/alifenxi.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.alifenxi||[]);alifenxi.init("6915359e5849etfcb020");</script>
