//colors
$body_bg_color: #EEEFF1;
$color_shark_approx: #222428;
$white: #fff;
$font_black: #323b3d;
$color_chicago_approx: #5e5e5e;
$color_brick_red_approx: #c9394a;
$color_storm_dust_approx: #666;
$color_quill_gray_approx: #d2d2d2;
$color_french_gray_approx: #b7bcc0;
$color_vulcan_approx: #14191e;
$color_gallery_approx: #edeff0;
$color_guardsman_red_approx: #cc0000;
$black_10: rgba(0, 0, 0, 0.1);
$black: #000000;
$color_tuna_approx: #363c41;
$color_rolling_stone_approx: #787d82;
$color_font: #656e73;
$black_35: rgba(0, 0, 0, 0.35);
$color_athens_gray_approx: #edf0f2;
$color_dove_gray_approx: #6c7072;
$color_silver_chalice_approx: #adb0b1;
$color_abbey_approx: #4a5153;
$color_mercury_approx: #e2e4e6;
$color_ghost_approx: #c8cdd2;
$color_iron_approx: #d0d6d9;
$black_20: rgba(0, 0, 0, 0.2);
$color_celeste_approx: #ccc;
$color_fuscous_gray_approx: #555;
$color_mine_shaft_approx: #333;
$color_manatee_approx: #909b9e;
$color_conifer_approx: #aad94a;
$color_tuatara_approx: #363636;
$color_chateau_green_approx: #39b94e;
$color_pizazz_approx: #fc8800;
$color_mountain_mist_approx: #999;
$color_baltic_sea_approx: #2a2c2e;
$color_gray_approx: #7f8082;
$color_cape_cod_approx: #364247;
$color_alto_approx: #d9d9d9;
$color_star_dust_approx: #969b9e;
$color_pewter_approx: #98a1a6;
$black_7_5: rgba(0, 0, 0, 0.075);
$black_40: rgba(0, 0, 0, 0.4);
$color_guardsman_red_40_approx: rgba(204, 0, 0, 0.4);
$color_red_approx: #f00000;
$color_bright_red_approx: #b30000;
$color_lochmara_approx: #0088cc;
$color_cerulean_approx: #00a0f0;
$color_deep_cerulean_approx: #0077b3;
$color_malachite_approx: #00b33b;
$color_salem_approx: #009a33;
$concrete: #f2f2f2;
$color_loblolly_approx: #c2cace;
$color_red_orange_approx: #f34131;
$color_scarlet_approx: #f01400;
$color_milano_red_approx: #d81200;
$color_pomegranate_approx: #f22c1a;
$color_pumice_approx: #c5c5c5;
$color_pink_swan_approx: #bbb;
$color_gunsmoke_approx: #7e878c;
$black_15: rgba(0, 0, 0, 0.15);
$color_snow_drift_approx: #f7faf9;
$color_geyser_approx: #dae0e5;
$color_alabaster_approx: #f9f9f9;
$color_bombay_approx: #b4b9be;
$color_tower_gray_approx: #b4bbbf;
$color_de_york_approx: #86d693;
$black_50: rgba(0, 0, 0, 0.5);
$color_royal_purple_approx: rebeccapurple;
$color_rolling_stone_approx : #ddd;
