
//urls
$url_0: url(/resource/img/common/logo.png);
$url_1: url(/resource/img/common/new.png);
$url_2: url(/resource/img/head-app-icon.png);
$url_3: url(/resource/img/gsearch-sprite.png);
$url_4: url(/resource/img/icon_msg.png);
$url_5: url(/resource/img/menu_icon.png);
$url_6: url(/resource/img/menu_icon.png);
$url_7: url(/resource/img/space-remind.png);
$url_8: url(/resource/img/idx-btm.png);
$url_9: url(/resource/img/idx-btm.png);
$url_10: url(/resource/img/course/new_add_collection.png);
$url_11: url(/resource/img/common/elevator.png?1);
$url_12: url(/resource/img/common/elevator.png);
$url_13: url(/resource/img/iebg.gif);
$url_14: url(/resource/img/iefixed-sprite.png);
$url_15: url(/resource/img/dot_usercard.png);
$url_16: url(/resource/img/common/user_card_top.png);
$url_17: url(/resource/fonts/icomoon.eot?w72hig);
$url_18: url(/resource/fonts/icomoon.eot?#iefixw72hig);
$url_19: url(/resource/fonts/icomoon.woff?w72hig);
$url_20: url(/resource/fonts/icomoon.ttf?w72hig);
$url_21: url(/resource/fonts/icomoon.svg?w72hig#icomoon);
$url_22: url(http://resource.mukewang.com/resource/img/course/dot_menu_arrow.png);
$url_23: url(http://resource.mukewang.com/resource/img/course/loading.gif);
$url_24: url(/resource/img/course/icon_filter.png);
$url_25: url(/resource/img/course/dot_checkbox.png?t=1);
$url_26: url(http://resource.mukewang.com/resource/img/course/dot_nodata.png);
$url_27: url(http://resource.mukewang.com/resource/img/course/loading.gif?t=1);
$url_28: url(/resource/img/course/v2/for_teacher.png);
$url_29: url(/resource/img/course/v2/pager_sprite.png);
$url_30: url(/resource/img/course/v2/dot_checkbox.png);
$url_31: url(/resource/img/course/v2/follow_label.png);
$url_32: url(/resource/img/course/dot_del.png);
