/* line 4, ../../../scss/admin/pages/page.scss */
html, body {
  padding: 0;
  text-align: center;
  min-height: 100vh;
  background-color: #eef1f7;
}

/* line 11, ../../../scss/admin/pages/page.scss */
body > .container {
  margin: 60px auto;
  box-sizing: border-box;
  padding: 20px;
  width: 900px;
}

/* line 19, ../../../scss/admin/pages/page.scss */
.card {
  min-width: 800px;
  box-sizing: border-box;
  border: 1px solid #d4d9df;
  background-color: #ffffff;
}
/* line 24, ../../../scss/admin/pages/page.scss */
.card:hover {
  border-color: #92a0ae;
}
/* line 27, ../../../scss/admin/pages/page.scss */
.t-left.card {
  text-align: left;
}
/* line 30, ../../../scss/admin/pages/page.scss */
.t-center.card {
  text-align: center;
}

/* line 35, ../../../scss/admin/pages/page.scss */
.card {
  padding: 15px;
  margin-bottom: 15px;
}

/* line 41, ../../../scss/admin/pages/page.scss */
h1 {
  font-size: 18px;
  margin-bottom: 10px;
}

/* line 46, ../../../scss/admin/pages/page.scss */
.message-box,
.teacher-box,
.resource-box,
.add-course-box,
.partner-box {
  margin: auto;
}
/* line 52, ../../../scss/admin/pages/page.scss */
.message-box > .row,
.teacher-box > .row,
.resource-box > .row,
.add-course-box > .row,
.partner-box > .row {
  text-align: left;
  width: 700px;
  margin: auto;
}
/* line 57, ../../../scss/admin/pages/page.scss */
.message-box .btn-wrapper,
.teacher-box .btn-wrapper,
.resource-box .btn-wrapper,
.add-course-box .btn-wrapper,
.partner-box .btn-wrapper {
  text-align: center;
}
/* line 59, ../../../scss/admin/pages/page.scss */
.message-box .btn-wrapper .radiusBtn,
.teacher-box .btn-wrapper .radiusBtn,
.resource-box .btn-wrapper .radiusBtn,
.add-course-box .btn-wrapper .radiusBtn,
.partner-box .btn-wrapper .radiusBtn {
  margin: auto;
}

/* line 68, ../../../scss/admin/pages/page.scss */
.teacher-box .col-left,
.resource-box .col-left,
.add-course-box .col-left,
.partner-box .col-left {
  width: 120px;
}

/* line 74, ../../../scss/admin/pages/page.scss */
textarea.input {
  resize: vertical;
  height: 80px;
  line-height: 1.7;
}

/* line 3, ../../../scss/admin/utils/header.scss */
.nebulafe-header {
  width: 100%;
  height: 50px;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 300;
  border-bottom: 1px solid #d4d9df;
}
/* line 17, ../../../scss/admin/utils/header.scss */
.nebulafe-header .nav {
  display: block;
  float: left;
  height: inherit;
  overflow: hidden;
}
/* line 22, ../../../scss/admin/utils/header.scss */
.nebulafe-header .nav .item {
  display: block;
  float: left;
  height: inherit;
  line-height: 50px;
  width: 100px;
  text-align: center;
}
/* line 29, ../../../scss/admin/utils/header.scss */
.nebulafe-header .nav .item a {
  display: block;
  width: inherit;
  height: inherit;
  color: #7c8b8a;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 36, ../../../scss/admin/utils/header.scss */
.nebulafe-header .nav .item a:hover {
  color: #27ccaa;
  background-color: #eef1f7;
}
/* line 41, ../../../scss/admin/utils/header.scss */
.nebulafe-header .nav .item.active {
  background-color: #eef1f7;
}
/* line 42, ../../../scss/admin/utils/header.scss */
.nebulafe-header .nav .item.active a {
  color: #27ccaa;
}

/* line 4, ../../../scss/admin/utils/imgUploader.scss */
.my-uploader {
  overflow: hidden;
  width: 100%;
  height: auto;
}
/* line 8, ../../../scss/admin/utils/imgUploader.scss */
.my-uploader .upload-wrapper {
  display: block;
  float: left;
  width: 90px;
  height: 37px;
  cursor: pointer;
}
/* line 14, ../../../scss/admin/utils/imgUploader.scss */
.my-uploader .upload-wrapper .upload-btn {
  display: block;
  position: absolute;
  margin-left: 15px;
  top: 0;
  left: 0;
}
/* line 21, ../../../scss/admin/utils/imgUploader.scss */
.my-uploader .upload-wrapper input[type='file'] {
  display: block;
  position: absolute;
  padding: 20px;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 200;
  width: inherit;
  height: inherit;
  box-sizing: border-box;
  cursor: pointer;
}
/* line 36, ../../../scss/admin/utils/imgUploader.scss */
.my-uploader .upload-wrapper:hover .upload-btn {
  background-color: #2390b0;
}
/* line 42, ../../../scss/admin/utils/imgUploader.scss */
.my-uploader .upload-content {
  display: block;
  float: left;
  line-height: 37px;
  margin-left: 15px;
}

/* line 52, ../../../scss/admin/utils/imgUploader.scss */
.upload-result {
  margin: 10px 0;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
/* line 56, ../../../scss/admin/utils/imgUploader.scss */
.upload-result > .row {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
/* line 58, ../../../scss/admin/utils/imgUploader.scss */
.upload-result > .row:last-child {
  border-bottom: none;
}
/* line 62, ../../../scss/admin/utils/imgUploader.scss */
.upload-result .img-preview {
  margin: 10px 0;
}
/* line 64, ../../../scss/admin/utils/imgUploader.scss */
.upload-result .img-preview .info {
  float: left;
}
/* line 66, ../../../scss/admin/utils/imgUploader.scss */
.upload-result .img-preview .info:first-child {
  width: 25%;
}
/* line 69, ../../../scss/admin/utils/imgUploader.scss */
.upload-result .img-preview .info:nth-child(2), .upload-result .img-preview .info:nth-child(3) {
  width: 28%;
}
/* line 73, ../../../scss/admin/utils/imgUploader.scss */
.upload-result .img-preview .info:last-child {
  width: 15%;
}
/* line 76, ../../../scss/admin/utils/imgUploader.scss */
.upload-result .img-preview .info span {
  word-break: break-all;
}
/* line 80, ../../../scss/admin/utils/imgUploader.scss */
.upload-result .img-preview .thumbnail {
  width: 100px;
}

@media screen and (min-width: 425px) {
  /* line 255, ../../../scss/admin/sassCore/core/_media-queries.scss */
  html {
    font-size: 40px;
  }
  /* line 257, ../../../scss/admin/sassCore/core/_media-queries.scss */
  html body {
    font-size: 14px;
  }
}
@media screen and (max-width: 425px) {
  /* line 263, ../../../scss/admin/sassCore/core/_media-queries.scss */
  html {
    font-size: 20px;
  }
  /* line 265, ../../../scss/admin/sassCore/core/_media-queries.scss */
  html body {
    font-size: 14px;
  }
}
/* line 3, ../../../scss/admin/utils/teacher.scss */
teacher-edit {
  display: block;
  position: fixed;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  top: 0;
  left: 0;
}
/* line 12, ../../../scss/admin/utils/teacher.scss */
teacher-edit .teacher-edit {
  display: block;
  position: relative;
  margin: auto;
  width: 600px;
  box-sizing: border-box;
  padding: 30px 10px;
  height: auto;
  overflow: hidden;
  margin-top: 50vh;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #4E5D6C;
}

/* line 2, ../../../scss/admin/utils/newTable.scss */
table {
  width: 100%;
  box-sizing: border-box;
}
/* line 5, ../../../scss/admin/utils/newTable.scss */
table tr {
  border-collapse: collapse;
}
/* line 7, ../../../scss/admin/utils/newTable.scss */
table tr:hover {
  background-color: #f6f8f9;
}
/* line 10, ../../../scss/admin/utils/newTable.scss */
table tr td,
table tr th {
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #d4d9df;
  border-collapse: collapse;
  text-align: center;
  line-height: 1.5;
}
/* line 18, ../../../scss/admin/utils/newTable.scss */
table tr td.c,
table tr th.c {
  text-align: left;
}
/* line 21, ../../../scss/admin/utils/newTable.scss */
table tr td.r,
table tr th.r {
  text-align: right;
}
/* line 25, ../../../scss/admin/utils/newTable.scss */
table tr th {
  font-weight: bold;
}

/* line 1, ../../../scss/admin/utils/modal.scss */
button.modal-bg {
  display: table;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  text-align: center;
}
/* line 10, ../../../scss/admin/utils/modal.scss */
button.modal-bg > *:first-child {
  position: relative;
  height: auto;
}
