@import "../settings";
@import "../utils/extends";

@charset "UTF-8";

body{
  overflow-x:hidden;
  color: $color-font;
}

@import "../utils/reset";
@import "../utils/text";
@import "../utils/table";

@font-face {
  font-family: $font_0;
  src: $url_0;
  src: $url_1 format('embedded-opentype'), $url_2 format('woff'), $url_3 format('truetype'), $url_4 format('svg');
}

@import "../utils/grid";

.icon {
  &.exclamation::before {
    @extend %extend_6;
  }
  &.ok::before {
    @extend %extend_7;
  }
  &.wrong::before {
    @extend %extend_8;
  }
}

@import "../utils/form";

@import "../utils/buttons";

@import "../utils/pop";

@import "../utils/panel";

@import "../utils/page_list";

@import "../utils/helptip";

@import "../utils/select";

@import "../utils/range";

@import "../utils/filters";

@import "../utils/page_layout";

@import "../utils/checkBox";





.mCS-my-theme {
  &.mCSB_scrollTools {
    .mCSB_dragger {
      .mCSB_dragger_bar {
        width: 8px;
        background-color: $color_mountain_mist;
      }
      &:hover .mCSB_dragger_bar {
        background-color: $color_mountain_mist;
        background-color: $color_mountain_mist_85;
        filter: "alpha(opacity=85)";
      }
      &:active .mCSB_dragger_bar {
        @extend %extend_13;
      }
      &.mCSB_dragger_onDrag .mCSB_dragger_bar {
        @extend %extend_13;
      }
    }
    .mCSB_draggerRail {
      display: none;
    }
  }
  &.mCSB_inside {
    outline: none;
    .mCSB_container {
      margin-right: 20px;
    }
  }
}

.amap-copyright {
  display: none;
}

@import "../utils/icons";

@import "../utils/layout_help_class";

@import "../utils/small_tip";

@import "../utils/time_unit_wrapper";








