@import "../common";
$label-color: #656e77;
.my-wrap{
  padding-top: 20px;
  .input-group {
    display: block;
    width: 100%;
    min-height: 70px;
    padding-top: 5px;
    clear: both;
    overflow: hidden;
    .label {
      display: block;
      float: left;
      width: 100px;
      text-align: right;
      padding-right: 15px;
      color: $label-color;
      font-weight: normal;
      line-height: 35px;
      font-size: 14px;
    }
    a{
      cursor: pointer;
    }

    input[type="text"],
    input[type="password"] {

      &:focus{
        border-color: $color_link_blue;
        box-shadow: 0 0 6px 0 rgba(45,136,227,.5);
      }
    }
    .g-ipt,
    .btn-wrapper .btn{
      display: inline-block;
      width: 300px;
      box-sizing: border-box;
      border-radius: 1px;
    }
    .g-ipt{
      @include transition(box-shadow ease .2s);
      padding-left: 40px;
    }
    .g-ipt + i::before{
      @extend .iconfont;
      width: 30px;
      height: 25px;
      display: block;
      position: absolute;
      margin-top: -31px;
      margin-left: 105px;
      line-height: 23px;
      text-align: center;
      font-size: 22px;
      border-right: 1px solid #ccc;
      color: #999;
    }
    .ipt-email + i::before{
      content: $icon-xiaoxi;
    }
    .ipt-nick + i::before{
      content: $icon-guanyuwo;
    }
    .ipt-realname + i::before{
      content: $icon-wo;
    }
    .ipt-mobile + i::before{
      content: $icon-shouye;
    }
    .ipt-idcard + i::before{
      content: $icon-wo;
    }

  }
}