//urls
$url_0: url(../font/iconfont.eot);
$url_1: url(../font/iconfont.eot?#iefix);
$url_2: url(../font/iconfont.woff);
$url_3: url(../font/iconfont.ttf);
$url_4: url(../font/iconfont.svg#iconfont);
$url_5: url(../img/logo_2.png);
$url_6: url(../img/logo_2.png?t=1);