@import "../settings";
.triangleleft {
  position: absolute;
  display: none;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: rgba(91, 99, 108, 0.8) rgba(91, 99, 108, 0.8) transparent transparent;
  z-index: 2;
}

.triangleright {
  position: absolute;
  display: none;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: rgba(91, 99, 108, 0.8) transparent transparent rgba(91, 99, 108, 0.8);
  z-index: 2;
}

.helptip-content {
  display: none;
  position: absolute;
  padding: 20px;
  background-color: $color_help_content_bg;
  font-size: 12px;
  color: $white;
  opacity: 0.902;
  z-index: 20;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 4px;
  //Instead of the line below you could use @include border-top-left-radius($radius)
  border-top-left-radius: 0;
  padding-left: 30px;
  &:before {
    border-top: 20px solid $color_waterloo_;
  }
  p {
    margin-bottom: 10px;
    line-height: 20px;
  }
  span {
    color: $color_porsche;
  }
}

.helptip {
  font-family: $font_6;
  font-size: 12px;
  font-style: normal;
  cursor: pointer;
  float: left;
  display: inline-block;
  width: 10px;
  height: 10px;
  &:before {
    content: "\e601";
    font-size: 20px;
    margin-left: 5px;
    color: #909A9C;
    -webkit-font-smoothing: antialiased;
  }
}