.iconfont:before {
  font-family: $font_6;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

.icon-shangjiaqun:before { content: "\e629"; }
.icon-bangzhu:before { content: "\e62b"; }
.icon-addnewguest:before { content: "\e62a"; }
.icon-wrong:before { content: "\e61b"; }
.icon-chanpinjieshao:before { content: "\e62e"; }
.icon-export:before { content: "\e60a"; }
.icon-import:before { content: "\e614"; }
.icon-changjianwenti:before { content: "\e62f"; }
.icon-search:before { content: "\e600"; }
.icon-xiazai:before { content: "\e61d"; }
.icon-titleback:before { content: "\e610"; }
.icon-anonymous-iconfont:before { content: "\e60c"; }
.icon-question:before { content: "\e601"; }
.icon-ff-back:before { content: "\e619"; }
.icon-yonghuicon:before { content: "\e61a"; }
.icon-yonghu01:before { content: "\e62c"; }
.icon-baobiao:before { content: "\e602"; }
.icon-top:before { content: "\e626"; }
.icon-yuan:before { content: "\e608"; }
.icon-iconfontquestion:before { content: "\e61c"; }
.icon-20140914071624460easyiconnet48:before { content: "\e615"; }
.icon-wrong1:before { content: "\e603"; }
.icon-aliwangwang:before { content: "\e621"; }
.icon-delete:before { content: "\e61e"; }
.icon-iconfont23:before { content: "\e61f"; }
.icon-right:before { content: "\e618"; }
.icon-yonghuhuaxiang:before { content: "\e624"; }
.icon-keliutongji:before { content: "\e625"; }
.icon-shop-setting:before { content: "\e628"; }
.icon-shezhi:before { content: "\e604"; }
.icon-shop-center:before { content: "\e605"; }
.icon-arrowdown:before { content: "\e622"; }
.icon-right1:before { content: "\e606"; }
.icon-leimu:before { content: "\e60b"; }
.icon-1:before { content: "\e611"; }
.icon-2:before { content: "\e612"; }
.icon-3:before { content: "\e617"; }
.icon-pen:before { content: "\e607"; }
.icon-people-leixing-small:before { content: "\e62d"; }
.icon-iconquestion:before { content: "\e616"; }
.icon-tishi:before { content: "\e60d"; }
.icon-guanbi:before { content: "\e60e"; }
.icon-iconfont22:before { content: "\e60f"; }
.icon-down:before { content: "\e609"; }
.icon-top1:before { content: "\e623"; }
.icon-zhanghu:before { content: "\e620"; }
.icon-wufachakan:before { content: "\e613"; }
.icon-message:before { content: "\e627"; }
.icon-xinshourumen:before { content: "\e630"; }
.icon-close:before { content: "\e631"; }
.icon-shouquandianpu_tag:before { content: "\e636"; }

.icon-addnewguest:before {
  content: $icon-addnewguest;
}

.icon-people-leixing-small:before {
  content: $icon-people-leixing-small;
}

.iconfont.tip {
  font-size: 20px;
  color: #7F898A;
  @extend %extend_iconfont;
  cursor: pointer;
}
