@import "../settings";

@mixin myTable($height,$name,$width) {
  &.pageList {
    position: relative;
  }
  .pageList {
    position: relative;
  }
  .m-list-filter {
    position: relative;
    float: left;
    min-width: 1002px;
    width: 100% !important;
    box-sizing: border-box;
    height: 60px;
    line-height: 50px;
    margin: 0!important;
    padding: 0;
    background-color: $white;
    border-top: 1px solid $color-border-select;
    border-left: 1px solid $color-border-select;
    border-right: 1px solid $color-border-select;
    .col {
      float: left;
      line-height: 60px;
      &.txt {
        font-size: 14px;
        color: $color-font-common;
      }
      .btn.ghostBtn {
        box-sizing: border-box;
        height: 35px;
        line-height: 35px;
        margin-top: -2px;
      }
    }
    .col-right {
      float: right;
    }
    & + .listBody {
      padding-top: 60px;
    }
  }
  .listBody {
    padding: 0;
    min-width: 1000px;
    color: $color-font-common;
    margin-top: 20px;
    .thHerder {
      height: 52px;
      width: 100%;
      box-sizing: border-box;
      /*background-color: #eaf2ff;*/
      background-color: $white;
      border-right: 1px solid $color-border-select;
      border-left: 1px solid $color-border-select;
      border-bottom: 1px solid $color-border-select;
      border-top: 2px solid $color-border-select;
      .thHeaderLi {
        width: 10%;
        float: left;
        line-height: 50px;
        .txt {
          padding-left: 15px;
          line-height: 50px;
          font-size: 14px;
          .t {
            float: left;
          }
          .arrow {
            height: 18px;
            width: 12px;
            background: url("../img/sort.png") -3px 0 no-repeat;
            display: inline-block;
            margin-left: 10px;
            float: left;
            margin-top: 15px;
          }
          .arrowUp {
            background-position: -54px 0;
            margin-top: 20px;
          }
          .arrowDown {
            background-position: -30px 0;
            margin-top: 12px;
          }
          .tip {
            font-family: "iconfont" !important;
            font-size: 12px;
            font-style: normal;
            -webkit-font-smoothing: antialiased;
            -webkit-text-stroke-width: 0.2px;
            -moz-osx-font-smoothing: grayscale;
            cursor: pointer;
            float: left;
            display: inline-block;
            width: 10px;
            height: 10px;
            &:before {
              font-size: 14px;
              margin-left: 5px;
              color: #acb2c4;
            }
          }
        }
      }
      @for $i from 1 through length($name) {
        .#{nth($name,$i)} {
          width: nth($width, $i);
        }
      }

    }
    .thBody {
      position: relative;
      width: 100%;
      box-sizing: border-box;
      background-color: $white;
      border-right: 1px solid #d3d7dd;
      border-left: 1px solid #d3d7dd;
      //height: $height;
      overflow: auto;
      font-size: 14px;
      .thBodyLi {
        width: 10%;
        float: left;
        line-height: $height;
        border-bottom: 1px solid #d3d7dd;
        height: inherit;
        height: $height;
        .txt {
          padding-left: 15px;
          font-family: Arial, arial, "Microsoft YaHei", "΢���ź�", "Helvetica Neue", '\5b8b\4f53';
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .link {
          //color: $color-font-common;
          color: $color-font-link;
          margin-right: 25px;
          &:hover {
            text-decoration: underline;
          }
        }
        .link-wrapper {
          float: left;
          height: inherit;
          line-height: inherit;
          .link {
            display: block;
          }
          &:first-child {
            margin-left: 15px;
          }
        }
      }
      @for $i from 1 through length($name) {
        .#{nth($name,$i)} {
          width: nth($width, $i);
        }
      }
      .liStatus{
        .noUse{
          color: $color-secondary;
        }
      }
      .li-status {
        .txt {
          &.lose-effect {
            color: $color-secondary;
          }
        }
      }
      &:hover {
        background-color: $color-bg-table-hover;
      }
      .tags-wrapper {
        display: none;
        float: left;
        width: 100%;
        box-sizing: border-box;
        min-height: 45px;
        line-height: 1.4;
        padding: 15px 30px;
        font-size: 14px;
        background-color: #EBECED;
        border-bottom: 1px solid #d3d7dd;
        &.show {
          display: block;
        }
        .title {
          display: inline;
          font-weight: bold;
        }
        .tags {
          display: inline;
        }
      }
    }
    .oneLine {
      height: auto;
      .oneLi {
        width: 100%;
        text-align: center;
        .blue:hover {
          text-decoration: underline;
        }
        .txt {
          line-height: 94px;
          text-align: center;
          border-bottom: 1px solid #d3d7dd;
        }
      }
      &:hover {
        background-color: $white;
      }
    }

  }
  .listFooterPage {
    line-height: 24px;
    text-align: center;
    font-size: 12px;
    margin: 30px auto;
    .page {
      line-height: 24px;
      .all, .prev, .next, .p, .p1 {
        line-height: 24px;
      }
      .prev, .next {
        margin: 0 5px;
        cursor: pointer;
      }
      .p {
        color: $white;
        margin: 0 5px;
        cursor: pointer;
        .pb {
          width: 24px;
          height: 24px;
          display: inline-block;
          position: relative;
          vertical-align: sub;
          &:before {
            font-family: "iconfont" !important;
            font-size: 12px;
            font-style: normal;
            -webkit-font-smoothing: antialiased;
            -webkit-text-stroke-width: 0.2px;
            -moz-osx-font-smoothing: grayscale;
            content: "\e608";
            color: $white;
            font-size: 24px;
          }
          .txt {
            float: left;
            position: absolute;
            top: 0;
            left: 0;
            width: 24px;
            height: 24px;
            color: #535a62;
            line-height: 24px;
          }
        }
        &:hover .pb {
          &:before {
            color: #e0e0e0;
          }
          .txt {
            color: #535a62;
          }
        }
      }
      .active .pb {
        &:before {
          color: #6b7284;
        }
        .txt {
          color: $white;
        }
      }
    }
  }
  .can-delete {
    .thHeaderLi:last-child:not(.liOpt),
    {
      &::after {
        display: block;
        position: absolute;
        content: "操作";
        right: calc(5% - 25px);
        font-size: 14px;
        color: $color-font;
      }
    }
    .thBody {
      .del {
        display: block;
        position: absolute;
        top: $height*0.5 - 15;
        right: 5%;
        margin-right: -30px;
        cursor: pointer;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;

        &::before {
          //@extend %extend_iconfont;
          //content: $icon-guanbi;
          content: "删除";
          margin: auto;
          //color: $color-font-guide;
          color: $color-link-blue;
          //@include prefixer(transition, all ease .2s);
          //@include prefixer(transform, rotate(0deg));
        }
        &:hover {
          &::before {
            text-decoration: underline;
            //color: $color-font;
            //@include prefixer(transform, rotate(180deg));
          }
        }
      }
    }
  }
}

.m-list-filter {
  position: relative;
  min-width: 1002px;
  width: 100% !important;
  float: left;
  //left: 0 + 20px;
  //right: -2px + 20px;
  box-sizing: border-box;
  height: 60px;
  line-height: 50px;
  margin: 0 !important;
  padding: 0;
  background-color: $white;
  border-top: 1px solid $color-border-select;
  border-left: 1px solid $color-border-select;
  border-right: 1px solid $color-border-select;
  .col {
    float: left;
    line-height: 60px;
    &.txt {
      font-size: 14px;
      color: $color-font-common;
    }
    .btn.ghostBtn {
      box-sizing: border-box;
      height: 35px;
      line-height: 35px;
      margin-top: -2px;
    }
  }
  .col-right {
    float: right;
  }
  & + .listBody {
    margin-top: 0 !important;
    padding-top: 60px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.listBody .listBody {
  a, .link {
    color: $color-font-link !important;
    &:hover {
      text-decoration: underline;
    }
  }
}

