<html ng-app="nebulafeAdmin">
<%- include common_head.ejs %>
<body>
<%- include utils/header.ejs %>
<div class="container">
    <course-edit></course-edit>
</div>
</body>
<%-include templates.ejs%>
</html>
