<html ng-app="nebulafeAdmin">
<%- include ./utils/common_head.ejs %>
<body>
<%- include ./utils/header.ejs %>

<div class="container">

</div>
<div id="m_c">

</div>
<script src="/resource/js/component/dist/Admin__SendMessage.js">

</script>
</body>
