<title><%= title %></title>
<link rel="stylesheet" href="/resource/css/admin/pages/common.css"/>
<link rel="stylesheet" href="/resource/css/admin/pages/page.css"/>
<link rel="shortcut icon"  href="/favicon.ico" type="image/x-icon">

<!--<link rel="stylesheet" href="/resource/css/admin/bootswatch.css"/>-->
<!--<link rel="stylesheet" href="/resource/bower_components/angular-bootstrap/ui-bootstrap-csp.css"/>-->
<script src="/resource/bower_components/jquery/dist/jquery.min.js"></script>
<!--<script  src='/resource/bower_components/angular/angular.min.js' ></script>-->
<!--<script src="/resource/bower_components/select2/dist/js/select2.min.js"></script>-->
<!--<link rel="stylesheet" href="/resource/bower_components/select2/dist/css/select2.min.css"/>-->
<!--<script src='/resource/bower_components/angular-bootstrap/ui-bootstrap.min.js'></script>-->
<!--<script src='/resource/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js'></script>-->
<!--<script src='/resource/js/admin/controllers.js'></script>-->
<script src="/resource/js/lib/react.js"></script>
<script src="/resource/js/lib/underscore.js"></script>
<script>

</script>